# Public .gitignore file for PMW

*.o
*~

INSTALL
Makefile
autom4te.cache
config.guess
config.log
config.status
configure
doc/spec.ps
doc/spec.xml
doc/fontspec.ps
doc/fontspec.xml
doc/postscript
src/config.h
src/pmw
testdist/test*
testing/test*

# End
